@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgba(152, 152, 152, 1) 0%,
    rgba(57, 57, 57, 1) 75%
  );

}
:root {
  --bodyFont: "Inconsolata", serif;
  
}

/* typography */
h1 {
  font-family: var(--bodyFont);
  color: #e5eff5;
  text-align: left;

}
h2 {
  font-family: var(--bodyFont);
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
h3 {
  font-size: 1rem;
  font-family: var(--bodyFont);
  color: black;
  text-align: center;
}
h4 {
  font-family: var(--bodyFont);
  font-size: 0.8rem;
  color: black;
}
.feature-container h4 {
  text-align: left;
}

/* layout */
.table-grid {
  padding-top: 5%;
  display: grid;
  grid-template: repeat(10, 5vw) / repeat(18, 5vw);
  justify-content: center;
}
.hydrogen-noble {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}
.alkali {
  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.alkaline-earth {
  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 15%;
}
.transition-metals {
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 13;
  display: flex;
  flex-wrap: wrap;
}
.other-elements {
  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 13;
  grid-column-end: 17;
  display: flex;
  flex-wrap: wrap;
}
.halogens {
  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 17;
  grid-column-end: 17;
}
.noble-gases {
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 18;
  grid-column-end: 18;
}
.rare-earth {
  grid-row-start: 9;
  grid-row-end: 11;
  grid-column-start: 3;
  grid-column-end: 18;
  display: flex;
  flex-wrap: wrap;
}

/* element items */
.element {
  width: 5vw;
  border: 3px solid white;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: var(--bodyFont);
  overflow: hidden;
}
.element-alkali {
  border: 3px solid red;
  color: red;
  border-style: double;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
  position: relative;
}
.element-alkali:hover {
  transform: scale(1.5);
  background: red;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.element-alkaline-earth {
  border: 3px solid orange;
  color: orange;
  border-style: double;
  overflow: hidden;
  position: relative;
}
.element-alkaline-earth:hover {
  transform: scale(1.5);
  background: orange;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.element-transition {
  width: 10%;
  height: 25%;
  color: white;
  text-align: center;
  border: 3px solid gold;
  border-style: double;
  color: gold;
  overflow: hidden;
  position: relative;
}
.element-transition:hover {
  transform: scale(1.5);
  background: gold;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.element-other-non-metals {
  width: 5vw;
  height: 5vw;
  text-align: center;
  border: 3px solid purple;
  border-style: double;
  color: purple;
  overflow: hidden;
  position: relative;
}
.element-other-non-metals:hover {
  transform: scale(1.5);
  background: purple;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.element-other-metals {
  color: white;
  border: 3px solid white;
  width: 5vw;
  height: 5vw;
  text-align: center;
  border-style: double;
  color: white;
  overflow: hidden;
  position: relative;
}
.element-other-metals:hover {
  transform: scale(1.5);
  background: white;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.element-halogens {
  border: 3px solid green;
  color: green;
  border-style: double;
  width: 5vw;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
  position: relative;
}
.element-halogens:hover {
  transform: scale(1.5);
  background: green;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.element-noble-gases {
  border: 3px solid skyblue;
  color: skyblue;
  border-style: double;
  width: 5vw;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
  position: relative;
}
.element-noble-gases:hover {
  transform: scale(1.5);
  background: skyblue;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.element-rare-earth {
  width: 7.14%;
  height: 50%;
  color: white;
  text-align: center;
  border: 3px solid pink;
  border-style: double;
  color: pink;
  overflow: hidden;
  position: relative;
}
.element-rare-earth:hover {
  transform: scale(1.5);
  background: pink;
  color: black;
  border: 3px solid black;
  border-style: double;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}

/* element text layout */
.element-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 0.5rem;
}
.atomic-number {
  position: absolute;
  left: 0;
  z-index: 9;
  text-align: left;
  font-size: 0.75rem;
  display: inline;
}
.number {
  font-size: 0.25rem;
  display: inline;
}
.symbol {
  font-size: 1.25rem;
  display: inline;
}
.name {
  font-size: 0.75rem;
  line-break: loose;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: none;
}
.mass {
  font-size: 0.75rem;
}

/* feature element */
.feature{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  border: 3px solid black;
  border-style: double;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
  font-family: var(--bodyFont);
  text-align: center;
  color: black;
}
.feature-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* feature text */
.element-details {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 7;
  grid-column-end: 12;
  height: 40%;
}
.details-container {
  text-align: left;
}
.details {
  text-align: left;
  color: white;
}
.atomic-mass {
  float: bottom;
  padding-top: 15%;
}
p {
  font-family: var(--bodyFont);
  font-size: 1rem;
  height: 1.25rem;
}

/* responsive design */
@media screen and (orientation:portrait) {
  .responsive-portrait {
    display: block;
  }
  .portrait-message {
    text-align: center;
    margin-top: 30%;
    padding: 0 5%;
    font-size: 3rem;
  }
  .table-grid {
    display: none;
  }
}
@media screen and (orientation:landscape) {
  .responsive-portrait {
    display: none;
  }
  .table-grid {
    display: grid;
  }
}
@media only screen and (max-width: 915px) {
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
  h4 {
    font-size: 0.5rem;
  }
  .atomic-number {
    font-size: 0.5rem;
  }
  .symbol {
    font-size: 1rem;
  }
  .name {
    font-size: 0.5rem;
  }
  .mass {
    font-size: 0.5rem;
  }
}

